* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
    height: 100vh;
    z-index: 2;
}

#left {
    height: 100vh;
    width: 50vw;
    background-color: darkgrey;
    z-index: 2;
}

#lift {
    height: 100vh;
    width: 33vw;
}

#right {
    height: 100vh;
    width: 55vw;
    background-color: darkgrey;
    z-index: 2;
}

#liftouter {
    height: 80vh;
    position: fixed;
    left: 35%;
    top: 10%;
    z-index: 2;
}

#liftinner {
    height: 70vh;
    position: fixed;
    left: 38.5%;
    top: 18%;
    z-index: 0;
}

#doorleft {
    height: 70vh;
    position: fixed;
    left: 38.5%;
    top: 18.5%;
    z-index: 1;
}

.animateleft{
    animation: doorleft 2.25s ease-in-out alternate ;
    transform-origin: top;
    transform-box: fill-box;
}


@keyframes doorleft {
    from{
        transform: translatex(0%);
    }
    to{
        transform: translatex(-100%);
    }
}

.animateleftclose{
    animation: doorleftclose 2.25s ease-in-out alternate ;
    transform-origin: top;
    transform-box: fill-box;
}

@keyframes doorleftclose {
    from{
        transform: translatex(-100%);
    }
    to{
        transform: translatex(0%);
    }
}

.animaterightclose{
    animation: doorrightclose 2.25s ease-in-out alternate ;
    transform-origin: top;
    transform-box: fill-box;
}

@keyframes doorrightclose {
    from{
        transform: translatex(0%);
    }
    to{
        transform: translatex(100%);
    }
}

#doorright {
    height: 70vh;
    position: fixed;
    left: 47.70%;
    top: 18.5%;
    z-index: 1;
}

.animateright{
    animation: doorright 2.25s ease-in-out alternate ;
    transform-origin: top;
    transform-box: fill-box;
}

.hide {
    display: none;
}

@keyframes doorright {
    from{
        transform: translatex(0%);
    }
    to{
        transform: translatex(100%);
    }
}

.buttonbox {
    height: 100px;
    width: 50px;
    position: fixed;
    left: 65%;
    top: 40%;
    background-color: silver;
    box-shadow: 2px 2px gray;
}

.button {
    height: 20px;
    width: 20px;
    border: 1px aquamarine solid;
    border-radius: 50%;
    background-color: #888;
    z-index: 2;
    position: fixed;
    left: 65.77%;
    top: 44.5%;
    cursor: pointer;
}

.button:hover {
    background-color: lightgray;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 3;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: #888;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .floor {
    display: flex;
    justify-content: center;
    align-items: center;
    border: #888 solid 1px;
    height: 100px; 
    color: #888;
    width: 80%;
    margin-bottom: 20px;
    margin-right: 40px;
  }

  .floor p, h2 {
    text-decoration: none;
    color: #888;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 40px;
    padding: 20px;
    background-color: #fefefe;
  }

  .modal-container {
      height: 90%;
      width: 100%;
      border: #888 2px solid;
      background-color: silver;
  }

  .floorbutton {
      height: 80px;
      width: 80px;
      border-radius: 50%;
      background-color: silver;
      border: 2px #888 solid;
  }

  .buttonrim {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: #888 solid 2px;
    cursor: pointer;
    box-shadow: 3px 3px gray;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fefefe;
  }

  .buttonrim:hover{
    background-color: aquamarine;
}

  .buttoncontainer {
      display: flex;
      flex-direction: row;
      margin: 20px;
  }